link {
  text-decoration: none;
}

.tag {
  display: flex;

  justify-content: center;
}
.tag_container {
  width: 100%;

  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  overflow-y: scroll;
}
.list-group {
  display: flex;
}
.tag_list {
  display: flex;
  padding: 10px;
}
.tag_list:hover {
  cursor: pointer;
}
.active {
  color: pink;
}
.tcol {
  width: 25%;
}

.trow {
  width: 25%;
}

.trow :hover {
  cursor: pointer;
}
.table-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.skeleton {
  width: 100%;
  height: 100%;
  flex: 1;
}
.coin-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table{
    margin-left: 20px;
  
}
